@media (max-width: 910px) {
  /*---------------------------------------------------------NAV EN HAUT ------------------*/
  .hamburger--button {
    display: inline;
  }
  .hamburger--display {
    display: none;
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100vw;
    height: 729vh;
    background-color: hsla(229, 31%, 21%, 0.899);
  }
  .hamburger--nav--button--container {
    margin-top: 120px;
  }
  .hamburger--nav--button {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: auto;
    height: 70px;
    justify-content: center;
    align-items: center;
    background-color: rgba(250, 235, 215, 0);
    border-top: 1px solid white;
    border-bottom: none;
    border-left: none;
    border-right: none;
    cursor: pointer;
    font-family: "Rubik", sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    color: white;
  }
  .hamburger--nav--button:hover {
    color: hsl(0, 94%, 66%);
  }
  .border--bottom {
    border-bottom: 1px solid white;
  }
  .hamburger--nav--button--login {
    display: flex;
    width: 350px;
    margin: auto;
    margin-top: 20px;
    color: white;
    border: solid 2px white;
    cursor: pointer;
    font-family: "Rubik", sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    height: 50px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    background-color: rgba(250, 235, 215, 0);
  }

  .hamburger--nav--button--login:hover {
    color: white;
    background-color: hsl(0, 94%, 66%);
    border: 2px solid white;
  }
  .nav--logo {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100vw;
    left: 25px;
    top: 41px;
  }
  .nav--logo button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
    margin-right: 55px;
  }

  .nav {
    display: none;
  }

  .hamburger--header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 90vw;
    left: 25px;
    top: 41px;
  }
  #hamburger--close {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
  }
  .hamburger--nav--network {
    display: flex;
    justify-content: space-between;
    width: 150px;
    margin: auto;
    margin-top: 150px;
  }
  .hamburger--network {
    filter: brightness(1);
  }
  .hamburger--network:hover {
    filter: brightness(0) hue-rotate(120deg);
  }
}
@media (max-width: 940px) {
  /*----------------------------------------------------DOWNLOAD EXTENSION ------------------*/
  .extension {
    text-align: center;
    margin: auto;
    width: 350px;
    margin-top: 200px;
  }

  .extension--button--container {
    flex-direction: column;
    width: 375px;
    margin: auto;
    margin-top: 50px;
  }

  .downloadButton {
    margin-left: 48px;
    flex-direction: column;
    text-align: center;
  }

  .extension--firefox {
    margin-top: 10px;
  }

  .extension--opera {
    margin-top: 10px;
  }
}
@media (max-width: 700px) {
  /*---------------------------------------------------------- QUESTIONS ------------------*/
  .questions {
    display: flex;
    flex-direction: column;
  }

  .quesiton--header {
    width: 350px;
  }
  ul {
    padding: 0;
  }

  .question--button {
    flex-direction: column;
    width: 350px;
  }
}
@media (max-width: 1170px) {
  /*---------------------------------------------------------BACKGROUD ------------------*/

  .blue--background {
    z-index: -1;
    position: absolute;
    height: 200px;
    width: 7000px;
    background-color: hsl(231, 69%, 60%);
    margin-left: 200px;
    margin-top: 100px;
    border-radius: 250px 0px 0px 250px;
  }
  .blue--background--bis {
    z-index: -1;
    position: absolute;
    height: 214px;
    width: 302px;
    background-color: hsl(231, 69%, 60%);
    margin-right: -105px px;
    margin-top: -407px;
    border-radius: 0px 250px 250px 0px;
  }
  /*---------------------------------------------------------- HEADER------------------*/
  .header {
    margin-top: 80px;
    display: flex;
    text-align: center;
    flex-direction: column;
  }
  #header--image--mobile {
    display: inline;
  }
  #header--image--mobile img {
    margin-top: 50px;
    width: 350px;
    margin-left: 10px;
    margin-right: 10px;
  }
  #header--image img {
    display: none;
  }
  #header--text {
    width: 350px;
    text-align: center;
    margin: auto;
  }
  .header h1 {
    font-size: 30px;
    text-align: center;
    margin-right: 40px;
  }
  .header p {
    font-size: 18px;
    font-weight: 400;
    color: rgb(198, 198, 198);

    text-align: center;
  }

  .header button {
    font-family: "Rubik", sans-serif;
    width: 160px;
    height: 50px;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 0px rgba(255, 229, 229, 0.696);
    cursor: pointer;
  }
  .button--chrome {
    background-color: hsl(231, 69%, 60%);
    color: white;
    border: 2px solid hsl(231, 69%, 60%);
  }
  .button--chrome:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(231, 69%, 60%);
    border: 2px solid hsl(231, 69%, 60%);
  }
  .button--firefox {
    background-color: rgb(234, 241, 246);
    border: none;
    color: rgb(106, 106, 106);
  }
  .button--firefox:hover {
    background-color: rgb(234, 241, 246);
    border: 2px solid rgb(106, 106, 106);
  }
  /*---------------------------------------------------------- FEATURES ------------------*/
  .features--header {
    text-align: center;
    width: 350px;
    margin-top: 180px;
  }

  .features--header h1 {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1px;
  }
  .features--header p {
    font-size: 18px;
    font-weight: 400;
    color: rgb(198, 198, 198);

    text-align: center;
  }
  .features--button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    height: 150px;
    width: 350px;
  }
  .features--choice--button {
    font-size: 18px;
    font-weight: 400;
    color: rgb(166, 163, 163);
    background-color: rgba(255, 255, 255, 0);
    border-top: 1px solid rgb(198, 198, 198);
    height: 75px;
    width: 60vw;
    border: none;
    cursor: pointer;
    border-bottom: 1px solid rgb(198, 198, 198);
  }
  .features--choice--button:hover {
    color: hsl(0, 94%, 66%);
  }
  .features--selected--button {
    border-bottom: 4px solid hsl(0, 94%, 66%);
    color: rgb(42, 41, 41);
  }
  /*----------------------------------------------------------DISPLAY FEATURES------------------*/
  .display--features {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 350px;
  }
  .display--features img {
    display: flex;
    justify-content: center;
    width: 340px;
  }

  .features--text {
    width: 350px;
    text-align: center;
    margin-top: 100px;
    margin-left: 0px;
  }

  .features--info--button {
    display: none;
  }
}
@media (max-width: 700px) {
  /*---------------------------------------------------------- FOOTER TOP ------------------*/
  .footer--top {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    background-color: hsl(231, 69%, 60%);
    height: 550px;
    z-index: 0;
    top: 0px;
    position: relative;
  }
  /* -------------------------------------------------FOOTER TEXTE EN BLANC*/
  .footer--top--coontent {
    width: 90vw;
    color: white;
    text-align: center;
    margin: auto;
  }
  .footer--top--coontent p {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 70px;
  }

  .footer--top--coontent h1 {
    font-weight: 500;
    letter-spacing: 1px;
  }
  /* -------------------------------------------------FOOTER INPUT & BOUTON */
  .footer--input--button {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 100px;
    align-items: center;
  }
  /* -------------------------------------------------FOOTER INPUT -------- */

  .input--container input {
    width: 298px;
    height: 47px;
    border-radius: 5px;
  }

  .input--container input::placeholder {
    font-family: "Rubik", sans-serif;
    font-size: 14px;
    color: rgb(125, 125, 125);
    padding-left: 30px;
  }
  .input--container {
    border: none;
  }
  .input--container--error {
    width: 302px;
    height: 44px;
    margin-right: 0px;
    border-radius: 11px;
    border-bottom: 22px solid rgb(250, 87, 87);
    border-top: 3px solid rgb(250, 87, 87);
    border-left: 6px solid rgb(250, 87, 87);
    border-right: 8px solid rgb(250, 87, 87);
  }
  .error--text--hide {
    opacity: 0;
  }

  .error--text--active {
    font-style: italic;
    opacity: 1;
    color: white;
    font-size: 10px;
  }
  /* -------------------------------------------------FOOTER BOUTON-------- */
  .footer--top button {
    font-family: "Rubik", sans-serif;
    width: 300px;
    height: 50px;
    background-color: rgb(250, 87, 87);
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
    border: 2px solid rgb(250, 87, 87);
    cursor: pointer;
    border-radius: 5px;
    margin-left: 0px;
    margin-top: 10px;
  }
  .footer--top button:hover {
    color: rgb(250, 87, 87);
    background-color: white;
  }
  /*---------------------------------------------------------- FOOTER DOWN ------------------*/

  .footer--down {
    height: auto;
    flex-direction: column;
  }
  .footer--down--content {
    width: 350px;
    margin: auto;
    flex-direction: column;
  }

  .footer--down button {
    margin-top: 20px;
  }

  .footer--logo {
    flex-direction: column;
    width: 350px;
  }
  .footer--logo p {
    margin: auto;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .footer--down--network {
    width: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 100px;
  }
}
